extends ./layout

block content
 .container-fluid#dashContainer

   .row
     .col-md-2
     .col-md-2
        a.dash-buttons(href="/beneficiaryDashboard")  تصفح المنح
     .col-md-8
       h1.dashtitle2  الملف الشخصي لمؤسسة احتواء التطوعية
      
    
   .row
     .col-md-2
     .col-md-8
       hr
     .col-md-2
   .row
    .col-md-2
    .col-md-2
    .col-md-2
    .col-md-2
    .col-md-2
    .col-md-2
     h3.dashtitle3  الطلبات
   .row
     .col-md-2
     .col-md-3
      .causes-item.causes-item--primary
        .causes-item__body
          .causes-item__top
             .causes-item__img
              img.img--bg(style="margin-bottom: 9px; margin-top: 9px" src="e7twa.jpg", alt="img" width="100%")
             h6.causes-item__title 
              a(href="cause-details.html") ٢٠٠ توصيل داخل الرياض 
             p نرغب بتوصيل ٢٠٠ تبرع ملابس داخل الرياض   
          .causes-item__lower
            .progress-bar
              .progress-bar__inner(style="width: 50%;")
                .progress-bar__value 50%
            .causes-item__details-holder
              .causes-item__details-item
                 span الهدف:
                 span ٢٠٠   
              .causes-item__details-item.text-right
                 span المتبرع به: 
                 span ١٠ توصيل 
            .causes-item__img
              a.causes-item__badge(style="background-color: #F2B705", href="/viewRequest") المزيد
     .col-md-3
      .causes-item.causes-item--primary
        .causes-item__body
          .causes-item__top
             .causes-item__img
              img.img--bg(style="margin-bottom: 9px; margin-top: 9px" src="e7twa.jpg", alt="img" width="100%")
             h6.causes-item__title 
              a(href="cause-details.html") ٢٠٠ توصيل داخل الرياض 
             p نرغب بتوصيل ٢٠٠ تبرع ملابس داخل الرياض   
          .causes-item__lower
            .progress-bar
              .progress-bar__inner(style="width: 50%;")
                .progress-bar__value 50%
            .causes-item__details-holder
              .causes-item__details-item
                 span الهدف:
                 span ٢٠٠   
              .causes-item__details-item.text-right
                 span المتبرع به: 
                 span ١٠ توصيل 
            .causes-item__img
              a.causes-item__badge(style="background-color: #F2B705", href="/viewRequest") المزيد
     .col-md-3
       .causes-item.causes-item--primary
        .causes-item__body
          .causes-item__top
             .causes-item__img
              img.img--bg(style="margin-bottom: 9px; margin-top: 9px" src="e7twa.jpg", alt="img" width="100%")
             h6.causes-item__title 
              a(href="cause-details.html") ٢٠٠ توصيل داخل الرياض 
             p نرغب بتوصيل ٢٠٠ تبرع ملابس داخل الرياض   
          .causes-item__lower
            .progress-bar
              .progress-bar__inner(style="width: 50%;")
                .progress-bar__value 50%
            .causes-item__details-holder
              .causes-item__details-item
                 span الهدف:
                 span ٢٠٠   
              .causes-item__details-item.text-right
                 span المتبرع به: 
                 span ١٠ توصيل 
            .causes-item__img
              a.causes-item__badge(style="background-color: #F2B705", href="/viewRequest") المزيد
   
      
     .col-md-2
  
   .row
     .col-md-2
     .col-md-3
      .causes-item.causes-item--primary
        .causes-item__body
          .causes-item__top
             .causes-item__img
              img.img--bg(style="margin-bottom: 9px; margin-top: 9px" src="e7twa.jpg", alt="img" width="100%")
             h6.causes-item__title 
              a(href="cause-details.html") ٢٠٠ توصيل داخل الرياض 
             p نرغب بتوصيل ٢٠٠ تبرع ملابس داخل الرياض   
          .causes-item__lower
            .progress-bar
              .progress-bar__inner(style="width: 50%;")
                .progress-bar__value 50%
            .causes-item__details-holder
              .causes-item__details-item
                 span الهدف:
                 span ٢٠٠   
              .causes-item__details-item.text-right
                 span المتبرع به: 
                 span ١٠ توصيل 
            .causes-item__img
              a.causes-item__badge(style="background-color: #F2B705", href="/viewRequest") المزيد
     .col-md-3
      .causes-item.causes-item--primary
        .causes-item__body
          .causes-item__top
             .causes-item__img
              img.img--bg(style="margin-bottom: 9px; margin-top: 9px" src="e7twa.jpg", alt="img" width="100%")
             h6.causes-item__title 
              a(href="cause-details.html") ٢٠٠ توصيل داخل الرياض 
             p نرغب بتوصيل ٢٠٠ تبرع ملابس داخل الرياض   
          .causes-item__lower
            .progress-bar
              .progress-bar__inner(style="width: 50%;")
                .progress-bar__value 50%
            .causes-item__details-holder
              .causes-item__details-item
                 span الهدف:
                 span ٢٠٠   
              .causes-item__details-item.text-right
                 span المتبرع به: 
                 span ١٠ توصيل 
            .causes-item__img
              a.causes-item__badge(style="background-color: #F2B705", href="/viewRequest") المزيد
     .col-md-3
       .causes-item.causes-item--primary
        .causes-item__body
          .causes-item__top
             .causes-item__img
              img.img--bg(style="margin-bottom: 9px; margin-top: 9px" src="e7twa.jpg", alt="img" width="100%")
             h6.causes-item__title 
              a(href="cause-details.html") ٢٠٠ توصيل داخل الرياض 
             p نرغب بتوصيل ٢٠٠ تبرع ملابس داخل الرياض   
          .causes-item__lower
            .progress-bar
              .progress-bar__inner(style="width: 50%;")
                .progress-bar__value 50%
            .causes-item__details-holder
              .causes-item__details-item
                 span الهدف:
                 span ٢٠٠   
              .causes-item__details-item.text-right
                 span المتبرع به: 
                 span ١٠ توصيل 
            .causes-item__img
              a.causes-item__badge(style="background-color: #F2B705", href="/viewRequest") المزيد
   
      
     .col-md-2

   