extends ./layout


block content
 .container-fluid.row
  .col-md-3
  .col-md-6#login
   .row
    .col-md-3
    .col-md-6
      img(style="margin:auto;" src="jarir.png", alt="img" width="300px")
      br
      br
    .col-md-3
   .row
     h1.offertitle التبرع ب٢٠ حاسب محمول 
   br
   .row
    p.offerdesc نرغب بتوفير ٢٠ جهاز حاسب لجهة خيرية متخصصة بالتعليم والتأهيل
   br
   br
   a.dash-buttons(href="/offerApplication")  تقديم طلب
   
  .col-md-3
 .row
  br
  br

  
