extends ./layout

block content
 .container-fluid#dashContainer

   .row
     .col-md-2
     .col-md-2
        a.dash-buttons(href="/beneficiaryDashboard")  تصفح طلبات الدعم
     .col-md-8
       h1.dashtitle2  الملف الشخصي لشركة جرير 
      
    
   .row
     .col-md-2
     .col-md-8
       hr
     .col-md-2
   .row
    .col-md-2
    .col-md-2
    .col-md-2
    .col-md-2
    .col-md-2
    .col-md-2
     h3.dashtitle3  الطلبات
   .row
     .col-md-2
     .col-md-3
       .causes-item.causes-item--primary
        .causes-item__body
          .causes-item__top
             .causes-item__img
              img.img--bg(style="margin-bottom: 9px; margin-top: 9px" src="jarir.png", alt="img" width="100%")
             
             h6.causes-item__title 
              a(href="cause-details.html") ٢٠ حاسب محمول
             p نرغب بالتبرع ب٢٠ حاسب آلي من نوع Dell Latitude 3410 Intel Core i7
          .causes-item__lower
            .progress-bar
              .progress-bar__inner(style="width: 50%;")
                .progress-bar__value 50%
            .causes-item__details-holder
              .causes-item__details-item
                 span الهدف:
                 span ٢٠ جهاز
              .causes-item__details-item.text-right
                 span المتبرع به: 
                 span ١٠ جهاز
            .causes-item__img
             a.causes-item__badge(style="background-color: #F2B705", href="/viewOffer") المزيد
             br
             //img.img--bg(src="img/causes_1.jpg", alt="img")
     .col-md-3
       .causes-item.causes-item--primary
        .causes-item__body
          .causes-item__top
             .causes-item__img
              img.img--bg(style="margin-bottom: 9px; margin-top: 9px" src="jarir.png", alt="img" width="100%")
             
             h6.causes-item__title 
              a(href="cause-details.html") ٣٠٠ ألف ريال  
             p نرغب بدعم عمل خيري يخدم الأسر المنتجة في المللكة بمبلغ ٣٠٠٠٠٠   
          .causes-item__lower
            .progress-bar
              .progress-bar__inner(style="width: 0%;")
                .progress-bar__value 0%
            .causes-item__details-holder
              .causes-item__details-item
                 span الهدف:
                 span ٣٠٠ ألف  
              .causes-item__details-item.text-right
                 span المتبرع به: 
                 span ٠ ريال 
            .causes-item__img
             a.causes-item__badge(style="background-color: #F2B705", href="/viewOffer") المزيد
             br
             //img.img--bg(src="img/causes_1.jpg", alt="img")
     .col-md-3
       .causes-item.causes-item--primary
        .causes-item__body
          .causes-item__top
             .causes-item__img
              img.img--bg(style="margin-bottom: 9px; margin-top: 9px" src="jarir.png", alt="img" width="100%")
             
             h6.causes-item__title 
              a(href="cause-details.html") ٤٠٠ حقيبة مدرسية
             p نرغب بالتبرع ب٤٠٠ حقيبة مدرسية للأطفال من عمر ٦ ل١٣ سنة
          .causes-item__lower
            .progress-bar
              .progress-bar__inner(style="width: 90%;")
                .progress-bar__value 90%
            .causes-item__details-holder
              .causes-item__details-item
                 span الهدف:
                 span ٤٠٠ 
              .causes-item__details-item.text-right
                 span المتبرع به: 
                 span  ٣٦٠ 
            .causes-item__img
             a.causes-item__badge(style="background-color: #F2B705", href="/viewOffer") المزيد
             br
             //img.img--bg(src="img/causes_1.jpg", alt="img")
     .col-md-2
   