extends ./layout

block content
 .container-fluid.row
  .col-md-3
  .col-md-6.mt-10
   form#login( method='POST')
    h1  إنشاء حساب  
    br
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      .col-md-3
      .col-md-6
        input.form-control(type='text', name='email', id='email', placeholder='اسم الجهة', autofocus)
      .col-md-3
    .form-group.row
      .col-md-3
      .col-md-6
        input.form-control(type='text', name='email', id='email', placeholder='رقم الترخيص ', autofocus)
      .col-md-3
    .form-group.row
      .col-md-3
      .col-md-6
        input.form-control(type='email', name='email', id='email', placeholder='البريد الإلكتروني', autofocus, autocomplete='email', required)
      .col-md-3
    .form-group.row
      .col-md-3
      .col-md-6
        input.form-control(type='password', name='password', id='password', placeholder='كلمة المرور', autocomplete='new-password', minlength='8', required)
      .col-md-3
    .form-group.row
      .col-md-3
      .col-md-6
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='تأكيد كلمة المرور ', autocomplete='new-password', minlength='8', required)
      .col-md-3
    .form-group.row
      .col-md-3
      .col-md-6
        button.btn.btn-block.btn-primary#loginBTN(type='submit')
          i.far.fa-user.fa-sm
          | تسجيل كمانح
      .col-md-3
    .form-group.row
     .col-md-5
     .col-md-5
        a.btn.btn-link(href='/forgot')#forgot هل نسيت كلمة المرور؟
     .col-md-2
    .form-group
      .offset-md-3.col-md-6.pl-2
        hr
    .form-group.row
      .col-md-2
      .col-md-6#nafath
        a(href='https://www.iam.gov.sa/authservice//userauthservice?lang=ar')  التسجيل من خلال النفاذ الوطني الموحد
        img(src="absher.png", alt="absher", width="40px") 
  .col-md-3

  
