extends ./layout


block content
 .container-fluid.row
  .col-md-3
  .col-md-6#login
   .row
    .col-md-3
    .col-md-6
      img(style="margin:auto;" src="e7twa.jpg", alt="img" width="300px")
      br
      br
    .col-md-3
   .row
     h1.offertitle  ٢٠٠ توصيل داخل الرياض 
   br
   .row
    p.offerdesc في حملة كسوة فرح، نجمع تبرعات الملابس ونعيد فرزها وتنظيفها للتبرع بها قبل العيد، نرغب بدعم عملية توصيل التبرعات من منازل المتبرعيت إلى مقرنا في المبنى ١٢٣
   br
   br
   a.dash-buttons(href="/requestApplication")  تقديم طلب
   
  .col-md-3
 .row
  br
  br

  
